body {
    background:red
<<<<<<< HEAD
    margin:15px;
}
h1 {
    font-size: 30px;
}
p {
    font-size: 20px;
}
=======
}
h1 {
    color:green;
}
P{
    color:blue;
}
>>>>>>> 27c73df47a67212a08b1fee4184deaeda038679e
